@layer theme, base, components, md3-tokens, md3-core, md3-components, utilities;

@import "tailwindcss";
@import "@mabooky/md3/styles.css";
@import "@mabooky/md3/tailwind.css";

:root {
    --md-sys-typescale-display-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-display-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-display-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-headline-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-headline-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-title-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);

    --md-sys-typescale-emphasized-display-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-display-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-display-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-headline-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-headline-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-headline-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-title-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-title-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-title-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-label-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-label-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-label-small-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-body-large-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-body-medium-font: var(--md-ref-typeface-plain);
    --md-sys-typescale-emphasized-body-small-font: var(--md-ref-typeface-plain);
}