@layer md3-tokens {
    :root {
        --md-sys-typescale-display-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-display-large-weight: 400;
        --md-sys-typescale-display-large-size: calc(57 / 16 * 1rem);
        --md-sys-typescale-display-large-tracking: calc(-0.25 / 16 * 1rem);
        --md-sys-typescale-display-large-line-height: calc(64 / 16 * 1rem);

        --md-sys-typescale-display-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-display-medium-weight: 400;
        --md-sys-typescale-display-medium-size: calc(45 / 16 * 1rem);
        --md-sys-typescale-display-medium-tracking: 0;
        --md-sys-typescale-display-medium-line-height: calc(52 / 16 * 1rem);

        --md-sys-typescale-display-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-display-small-weight: 400;
        --md-sys-typescale-display-small-size: calc(36 / 16 * 1rem);
        --md-sys-typescale-display-small-tracking: 0;
        --md-sys-typescale-display-small-line-height: calc(44 / 16 * 1rem);

        --md-sys-typescale-headline-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-headline-large-weight: 400;
        --md-sys-typescale-headline-large-size: calc(32 / 16 * 1rem);
        --md-sys-typescale-headline-large-tracking: 0;
        --md-sys-typescale-headline-large-line-height: calc(40 / 16 * 1rem);

        --md-sys-typescale-headline-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-headline-medium-weight: 400;
        --md-sys-typescale-headline-medium-size: calc(28 / 16 * 1rem);
        --md-sys-typescale-headline-medium-tracking: 0;
        --md-sys-typescale-headline-medium-line-height: calc(36 / 16 * 1rem);

        --md-sys-typescale-headline-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-headline-small-weight: 400;
        --md-sys-typescale-headline-small-size: calc(24 / 16 * 1rem);
        --md-sys-typescale-headline-small-tracking: 0;
        --md-sys-typescale-headline-small-line-height: calc(32 / 16 * 1rem);

        --md-sys-typescale-title-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-title-large-weight: 400;
        --md-sys-typescale-title-large-size: calc(22 / 16 * 1rem);
        --md-sys-typescale-title-large-tracking: 0;
        --md-sys-typescale-title-large-line-height: calc(28 / 16 * 1rem);

        --md-sys-typescale-title-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-title-medium-weight: 500;
        --md-sys-typescale-title-medium-size: calc(16 / 16 * 1rem);
        --md-sys-typescale-title-medium-tracking: calc(0.15 / 16 * 1rem);
        --md-sys-typescale-title-medium-line-height: calc(24 / 16 * 1rem);

        --md-sys-typescale-title-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-title-small-weight: 500;
        --md-sys-typescale-title-small-size: calc(14 / 16 * 1rem);
        --md-sys-typescale-title-small-tracking: calc(0.1 / 16 * 1rem);
        --md-sys-typescale-title-small-line-height: calc(20 / 16 * 1rem);

        --md-sys-typescale-body-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-body-large-weight: 400;
        --md-sys-typescale-body-large-size: calc(16 / 16 * 1rem);
        --md-sys-typescale-body-large-tracking: calc(0.5 / 16 * 1rem);
        --md-sys-typescale-body-large-line-height: calc(24 / 16 * 1rem);

        --md-sys-typescale-body-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-body-medium-weight: 400;
        --md-sys-typescale-body-medium-size: calc(14 / 16 * 1rem);
        --md-sys-typescale-body-medium-tracking: calc(0.25 / 16 * 1rem);
        --md-sys-typescale-body-medium-line-height: calc(20 / 16 * 1rem);

        --md-sys-typescale-body-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-body-small-weight: 400;
        --md-sys-typescale-body-small-size: calc(12 / 16 * 1rem);
        --md-sys-typescale-body-small-tracking: calc(0.4 / 16 * 1rem);
        --md-sys-typescale-body-small-line-height: calc(16 / 16 * 1rem);

        --md-sys-typescale-label-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-label-large-weight: 500;
        --md-sys-typescale-label-large-size: calc(14 / 16 * 1rem);
        --md-sys-typescale-label-large-tracking: calc(0.1 / 16 * 1rem);
        --md-sys-typescale-label-large-line-height: calc(20 / 16 * 1rem);

        --md-sys-typescale-label-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-label-medium-weight: 500;
        --md-sys-typescale-label-medium-size: calc(12 / 16 * 1rem);
        --md-sys-typescale-label-medium-tracking: calc(0.5 / 16 * 1rem);
        --md-sys-typescale-label-medium-line-height: calc(16 / 16 * 1rem);

        --md-sys-typescale-label-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-label-small-weight: 500;
        --md-sys-typescale-label-small-size: calc(11 / 16 * 1rem);
        --md-sys-typescale-label-small-tracking: calc(0.5 / 16 * 1rem);
        --md-sys-typescale-label-small-line-height: calc(16 / 16 * 1rem);

        --md-sys-typescale-emphasized-display-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-display-large-weight: 500;
        --md-sys-typescale-emphasized-display-large-size: calc(57 / 16 * 1rem);
        --md-sys-typescale-emphasized-display-large-tracking: calc(-0.25 / 16 * 1rem);
        --md-sys-typescale-emphasized-display-large-line-height: calc(64 / 16 * 1rem);

        --md-sys-typescale-emphasized-display-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-display-medium-weight: 500;
        --md-sys-typescale-emphasized-display-medium-size: calc(45 / 16 * 1rem);
        --md-sys-typescale-emphasized-display-medium-tracking: 0;
        --md-sys-typescale-emphasized-display-medium-line-height: calc(52 / 16 * 1rem);

        --md-sys-typescale-emphasized-display-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-display-small-weight: 500;
        --md-sys-typescale-emphasized-display-small-size: calc(36 / 16 * 1rem);
        --md-sys-typescale-emphasized-display-small-tracking: 0;
        --md-sys-typescale-emphasized-display-small-line-height: calc(44 / 16 * 1rem);

        --md-sys-typescale-emphasized-headline-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-headline-large-weight: 500;
        --md-sys-typescale-emphasized-headline-large-size: calc(32 / 16 * 1rem);
        --md-sys-typescale-emphasized-headline-large-tracking: 0;
        --md-sys-typescale-emphasized-headline-large-line-height: calc(40 / 16 * 1rem);

        --md-sys-typescale-emphasized-headline-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-headline-medium-weight: 500;
        --md-sys-typescale-emphasized-headline-medium-size: calc(28 / 16 * 1rem);
        --md-sys-typescale-emphasized-headline-medium-tracking: 0;
        --md-sys-typescale-emphasized-headline-medium-line-height: calc(36 / 16 * 1rem);

        --md-sys-typescale-emphasized-headline-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-headline-small-weight: 500;
        --md-sys-typescale-emphasized-headline-small-size: calc(24 / 16 * 1rem);
        --md-sys-typescale-emphasized-headline-small-tracking: 0;
        --md-sys-typescale-emphasized-headline-small-line-height: calc(32 / 16 * 1rem);

        --md-sys-typescale-emphasized-title-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-title-large-weight: 500;
        --md-sys-typescale-emphasized-title-large-size: calc(22 / 16 * 1rem);
        --md-sys-typescale-emphasized-title-large-tracking: 0;
        --md-sys-typescale-emphasized-title-large-line-height: calc(28 / 16 * 1rem);

        --md-sys-typescale-emphasized-title-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-title-medium-weight: 700;
        --md-sys-typescale-emphasized-title-medium-size: calc(16 / 16 * 1rem);
        --md-sys-typescale-emphasized-title-medium-tracking: calc(0.15 / 16 * 1rem);
        --md-sys-typescale-emphasized-title-medium-line-height: calc(24 / 16 * 1rem);

        --md-sys-typescale-emphasized-title-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-title-small-weight: 700;
        --md-sys-typescale-emphasized-title-small-size: calc(14 / 16 * 1rem);
        --md-sys-typescale-emphasized-title-small-tracking: calc(0.1 / 16 * 1rem);
        --md-sys-typescale-emphasized-title-small-line-height: calc(20 / 16 * 1rem);

        --md-sys-typescale-emphasized-body-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-body-large-weight: 500;
        --md-sys-typescale-emphasized-body-large-size: calc(16 / 16 * 1rem);
        --md-sys-typescale-emphasized-body-large-tracking: calc(0.5 / 16 * 1rem);
        --md-sys-typescale-emphasized-body-large-line-height: calc(24 / 16 * 1rem);

        --md-sys-typescale-emphasized-body-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-body-medium-weight: 500;
        --md-sys-typescale-emphasized-body-medium-size: calc(14 / 16 * 1rem);
        --md-sys-typescale-emphasized-body-medium-tracking: calc(0.25 / 16 * 1rem);
        --md-sys-typescale-emphasized-body-medium-line-height: calc(20 / 16 * 1rem);

        --md-sys-typescale-emphasized-body-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-body-small-weight: 500;
        --md-sys-typescale-emphasized-body-small-size: calc(12 / 16 * 1rem);
        --md-sys-typescale-emphasized-body-small-tracking: calc(0.4 / 16 * 1rem);
        --md-sys-typescale-emphasized-body-small-line-height: calc(16 / 16 * 1rem);

        --md-sys-typescale-emphasized-label-large-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-label-large-weight: 700;
        --md-sys-typescale-emphasized-label-large-size: calc(14 / 16 * 1rem);
        --md-sys-typescale-emphasized-label-large-tracking: calc(0.1 / 16 * 1rem);
        --md-sys-typescale-emphasized-label-large-line-height: calc(20 / 16 * 1rem);

        --md-sys-typescale-emphasized-label-medium-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-label-medium-weight: 700;
        --md-sys-typescale-emphasized-label-medium-size: calc(12 / 16 * 1rem);
        --md-sys-typescale-emphasized-label-medium-tracking: calc(0.5 / 16 * 1rem);
        --md-sys-typescale-emphasized-label-medium-line-height: calc(16 / 16 * 1rem);

        --md-sys-typescale-emphasized-label-small-font: 'Roboto', sans-serif;
        --md-sys-typescale-emphasized-label-small-weight: 700;
        --md-sys-typescale-emphasized-label-small-size: calc(11 / 16 * 1rem);
        --md-sys-typescale-emphasized-label-small-tracking: calc(0.5 / 16 * 1rem);
        --md-sys-typescale-emphasized-label-small-line-height: calc(16 / 16 * 1rem);
    }
}