@layer md3-components {
    @layer base {
        .md3-icon {
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            -webkit-user-select: none;
            user-select: none;
        }

        /* MD3Provider를 아예 사용하지 않을 경우를 대비해서 data-icon-style이 없는 경우도 명시 */
        [data-icon-style="outlined"] .md3-icon, .md3-icon {
            font-family: 'Material Symbols Outlined';
        }

        [data-icon-style="rounded"] .md3-icon {
            font-family: 'Material Symbols Rounded';
        }

        [data-icon-style="sharp"] .md3-icon {
            font-family: 'Material Symbols Sharp';
        }
    }
}
