:root {
    --md-sys-typescale-display-large-font: 'YesGothic', sans-serif;
    --md-sys-typescale-display-medium-font: 'YesGothic', sans-serif;
    --md-sys-typescale-display-small-font: 'YesGothic', sans-serif;
    --md-sys-typescale-headline-large-font: 'YesGothic', sans-serif;
    --md-sys-typescale-headline-medium-font: 'YesGothic', sans-serif;
    --md-sys-typescale-headline-small-font: 'YesGothic', sans-serif;
    --md-sys-typescale-title-large-font: 'YesGothic', sans-serif;
    --md-sys-typescale-title-medium-font: 'YesGothic', sans-serif;
    --md-sys-typescale-title-small-font: 'YesGothic', sans-serif;
    --md-sys-typescale-body-large-font: 'YesGothic', sans-serif;
    --md-sys-typescale-body-medium-font: 'YesGothic', sans-serif;
    --md-sys-typescale-body-small-font: 'YesGothic', sans-serif;
    --md-sys-typescale-label-large-font: 'YesGothic', sans-serif;
    --md-sys-typescale-label-medium-font: 'YesGothic', sans-serif;
    --md-sys-typescale-label-small-font: 'YesGothic', sans-serif;

    --md-sys-typescale-emphasized-display-large-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-display-large-weight: 700;
    --md-sys-typescale-emphasized-display-medium-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-display-small-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-headline-large-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-headline-medium-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-headline-small-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-title-large-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-title-medium-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-title-small-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-body-large-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-body-medium-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-body-small-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-label-large-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-label-medium-font: 'YesMyungjo', serif;
    --md-sys-typescale-emphasized-label-small-font: 'YesMyungjo', serif;
}