@layer theme, base, components, md3-tokens, md3-core, md3-components, utilities;

@import "tailwindcss";
@import "@mabooky/md3/styles.css";
@import "@mabooky/md3/tailwind.css";

@import "./tokens/typography.css";

@font-face {
    font-family: 'YesMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YesMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}