@layer md3-core {
    :is(button, a):has(> .md3-state-layer) {
        position: relative; /* State layer의 기준점 역할 */
        outline: none; /* 기본 focus outline 제거 */

        &:hover:not([aria-disabled="true"]) > .md3-state-layer {
            background-color: color-mix(in oklab, currentcolor 8%, transparent);
        }

        &:focus-visible > .md3-state-layer {
            outline: var(--md-sys-color-secondary) solid 3px;
            outline-offset: 3px;
        }

        &:focus-visible:not([aria-disabled="true"]) > .md3-state-layer {
            background-color: color-mix(in oklab, currentcolor 10%, transparent);
        }

        &:active([aria-disabled="true"]) > .md3-state-layer:not([data-ripple="true"]) {
            background-color: color-mix(in oklab, currentcolor 10%, transparent);
        }
    }

    .md3-state-layer {
        display: block;
        position: absolute;
        inset: 0;
        overflow: clip;
        pointer-events: none;
    }

    .md3-state-layer__ripple {
        display: block;
        position: absolute;
        border-radius: 50%;
        background-color: currentcolor;
        filter: blur(4px);
        pointer-events: none;
    }

    .md3-min-touch-target::after {
        content: "";
        position: absolute;
        min-width: 48px;
        min-height: 48px;
        width: 100%;
        height: 100%;
        inset: 50%;
        translate: -50% -50%;
    }
}
