@layer md3-core {
    .md3-state-source {
        position: relative;
        outline: none;

        &:hover > .md3-state-layer {
            background-color: color-mix(in oklab, currentcolor 8%, transparent);
        }

        &:focus-visible > .md3-state-layer {
            background-color: color-mix(in oklab, currentcolor 10%, transparent);
            outline: var(--md-sys-color-secondary) solid 3px;
            outline-offset: 3px;
        }

        &:active > .md3-state-layer:not([data-ripple="true"]) {
            background-color: color-mix(in oklab, currentcolor 10%, transparent);
        }
    }

    .md3-state-layer {
        display: block;
        position: absolute;
        inset: 0;
        overflow: clip;
        pointer-events: none;
    }

    .md3-state-layer__ripple {
        display: block;
        position: absolute;
        border-radius: 50%;
        background-color: currentcolor;
        filter: blur(4px);
        pointer-events: none;
    }

    .md3-min-touch-target::after {
        content: "";
        position: absolute;
        min-width: 48px;
        min-height: 48px;
        width: 100%;
        height: 100%;
        inset: 50%;
        translate: -50% -50%;
    }
}
