@layer components {
    .md3-state-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;

        
    }
    
    *:has(> .md3-state-layer) {
        &:hover > .md3-state-layer {
            /* 그냥 opacity를 사용하면 focus ring까지 흐려지는 문제 발생 */
            background-color: color-mix(in oklab, currentcolor 8%, transparent);
        }

        &:focus-visible > .md3-state-layer {
            background-color: color-mix(in oklab, currentcolor 10%, transparent);
            outline: var(--md-sys-color-secondary) solid 3px;
            outline-offset: 2px;
        }

        &:active > .md3-state-layer {
            background-color: color-mix(in oklab, currentcolor 10%, transparent);
        }
    }
}